<h1><%= current_user.first_name.possessive %> Quick Balance Dashboard</h1>

<hr />

<!-- Quick Transaction Section !-->
<div class="well" id="quick-transaction">
	<h2>Quick Transaction</h2>

	<p>Type in shortcode for your transaction here! This is the same as the code you would normally text to Quickbalance at <strong>+1 (862) 307-8195</strong> from your <strong><%= current_user.phone %> number.</p>

	<!-- Quick Transaction !-->
	<%= form_for(@pending_transaction, remote: true, :html => {:class => "data-shorthand-transaction-form"}) do |pending_transaction_form| %>
	<%= render 'shared/error_messages', :object => pending_transaction_form.object %>
	<%= render 'pending_transactions/shorthand_pending_transaction_form', :pending_transaction_form => pending_transaction_form %>

	<% end %>

	<hr />

	<p>Alternatively, manually input a full transaction here.</p>
	<%= form_for(@transaction, remote: true, :html => {:class => "data-full-transaction-form"}) do |transaction_form| %>
	<%= render 'shared/error_messages', :object => transaction_form.object %>
	<%= render 'transactions/full_transaction_form', :transaction_form => transaction_form %>
	<% end %>

</div>


<!-- Pending Transactions Section !-->
<div class="well" id="pending-transactions">
	<h2>Pending Transactions</h2>

	
		<%= render 'pending_transactions/pending_transactions_table', pending_transactions: @pending_transactions %>
	

</div>

<!-- Historical transactions and full transaction input !-->
<div class="well" id="full-transactions">

	<h2>All Transactions</h2>

	
		<%= render 'transactions/transactions_table', transactions: @transactions %>
	

	

</div>