<h1><%= current_user.first_name.possessive %> Quick Balance Dashboard</h1>

<hr />

<!-- Quick Transaction Section !-->
<div class="well" id="quick-transaction">
	<h2>New Quick Transaction</h2>

	<%= form_for(@pending_transaction, :html => { :class => "form-inline" }) do |pending_transaction_form| %>

	<%= render 'shared/error_messages', :object => pending_transaction_form.object %>


	<div class="input-group">
		<%= pending_transaction_form.text_field :shortcode, class: 'form-control input-lg', placeholder: "Enter a shortcode transaction here." %>
		<span class="input-group-btn"><%= pending_transaction_form.submit "Create Pending", class: 'btn btn-lg btn-success' %></span>

	</div>
	<span class="help-block">For example, "<%= current_user.accounts.first.debit_shorthand %> 100 <%= current_user.accounts.last.credit_shorthand %>" means moving $100 from your <%= current_user.accounts.first.name %> account to your <%= current_user.accounts.last.name %> account. Note this is <strong>case sensitive</strong>.</span>


	<% end %>
</div>


<!-- Pending Transactions Section !-->
<div class="well" id="pending-transactions">
	<h2>Pending Transactions</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>From</th>
				<th>Amount</th>
				<th>To</th>
				<!-- <th>Description</th> we can add in description later once we figure out inline editng...!-->
				<th>Date</th>
				<th>Shortcode</th>
				<th>Confirm</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<% @pending_transactions.each do |pending_transaction| %>
			<tr>
				<td><%= pending_transaction.debited ? link_to(pending_transaction.debited.name, pending_transaction.debited) : pending_transaction.custom_debit %></td>
				<td><%= number_to_currency(pending_transaction.amount) %></td>
				<td><%= pending_transaction.credited ? link_to(pending_transaction.credited.name, pending_transaction.credited) : pending_transaction.custom_credit %></td>
				<!-- <td><%= pending_transaction.description %></td> !-->
				<td><%= pending_transaction.created_at.stamp("January 1, 2011 at 12:23 PM") %></td>
				<td><%= pending_transaction.shortcode %></td>
				<td>
					<%= form_for(pending_transaction, :as => :pending_transaction, :url => confirm_pending_transaction_path(pending_transaction), :method => :put) do |f| %>
					<%= f.hidden_field :id %>
					<%= f.hidden_field :user_id %>
					<%= f.submit "Confirm", class: 'btn btn-info' %>
					<% end %>
				</td>
				<td>
					<button class="btn btn-danger">Remove</button>
				</td>



			</tr>
			<% end %>
		</tbody>

	</table>


</div>

<!-- Historical transactions and full transaction input !-->
<div class="well" id="full-transactions">

	<h2>All Transactions</h2>


	<form class="form-inline" role="form">

		<div class="form-group col-md-2">
			<select class="form-control">
				<option>From...</option>
				<option>Wallet</option>
				<option>AMEX</option>
			</select>
		</div>
		<div class="form-group col-md-3">
			<input type="text" class="form-control" placeholder="or custom...">
		</div>

		<div class="form-group col-md-2">
			<input type="text" class="form-control" placeholder="Amount">
		</div>


		<div class="form-group col-md-3">
			<input type="text" class="form-control" placeholder="or custom...">
		</div>

		<div class="form-group col-md-2">
			<select class="form-control">
				<option>To...</option>
				<option>Wallet</option>
				<option>AMEX</option>
			</select>
		</div>

	</form>

	<hr /><hr /><br /><br />



	<%= form_for(@transaction) do |transaction_form| %>
	<h3>New Full Transaction</h3>
	<%= render 'shared/error_messages', :object => transaction_form.object %>
	<%= render 'transactions/fields', :transaction_form => transaction_form %>

	<%= transaction_form.submit "Create Transaction" %>
	<% end %>


	<table>
		<thead>
			<tr>
				<th>From</th>
				<th>Amount</th>
				<th>To</th>
				<th>Description</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<% @transactions.each do |transaction| %>
			<tr>
				<td><%= transaction.debited ? link_to(transaction.debited.name, transaction.debited) : transaction.custom_debit %></td>
				<!-- <td><%= transaction.custom_debit %></td> !-->
				<td><%= transaction.amount %></td>

				<!-- <td><%= transaction.custom_credit %></td> !-->
				<td><%= transaction.credited ? link_to(transaction.credited.name, transaction.credited) : transaction.custom_credit %></td>
				<td><%= transaction.description %></td>
				<td><%= transaction.created_at.stamp("January 1, 2011 at 12:23 PM") %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>