<table>
	<thead>
		<tr>
			<th>From</th>
			<th>Amount</th>
			<th>To</th>
			<th>Description</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% transactions.each do |transactions| %>
		<tr>
			<td><%= transactions.debited ? link_to(transaction.debited.name, transaction.debited) : transaction.custom_debit %></td>
			<td><%= transaction.amount %></td>

			<td><%= transaction.credited ? link_to(transaction.credited.name, transaction.credited) : transaction.custom_credit %></td>
			<td><%= transaction.description %></td>
			<td><%= transaction.created_at.stamp("January 1, 2011 at 12:23 PM") %></td>
		</tr>
		<% end %>
	</tbody>
</table>
